<!-- <h3>Generate and Download Excel File in Angular 7</h3>
<div class="container">
<button (click)="exportAsXLSX()" class="btn btn-info mb-4 mt-2">Download Excel</button>
<table class="table table-striped table-bordered table-hover">
 <tr>
   <th>Name</th>
   <th>Month</th>
   <th>Sales</th>
   <th>Percentage</th>
 </tr>
 <tr *ngFor="let item of excel">
   <td>{{item.Name}}</td>
   <td>{{item.Month}}</td>
   <td>{{item.Sales_Figure}}</td>
   <td>{{item.Perc}}</td>
 </tr>
</table>
</div> -->

<hr>
<div id="shritable" #shritable>
  <h3>{{title}}</h3>
  <div style="padding-bottom: 10px;padding-top: 10px;">
    <div class="row">
     <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="downloadPDF()"> Download pdf</button>
     </div>
    </div></div>
   
<table>
  <thead class="thead-dark">
  <tr>
   <th>Role Id</th>
   <th>Role Name</th>
   <th>Allowed_Entity</th>
   <th>image</th>
   
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let roledetail of roledetail">
   <td>{{roledetail.role_id}}</td>
   <td>{{roledetail.role_name}}</td>
   <td>{{roledetail.allowed_entity}}</td>
   
   <td>
  </td>
   
  </tr>
 </tbody>
</table>
</div>
<br>
<hr>
<h3>{{title2}}</h3>
<div class="col-md-12 table-responsive" #shreetable>
  <div style="padding-bottom: 10px;padding-top: 10px;">
   <div class="row">
    <div class="col-sm-12">
     <button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button> 
    </div>
   </div></div>
  <table class="table table-bordered">
   <thead class="thead-dark">
   <tr>
    <th>Role Id</th>
    <th>Role Name</th>
    <th>Allowed_Entity</th>
    <th>image</th>
    
   </tr>
  </thead>
  <tbody>
   <tr *ngFor="let roledetail of roledetail">
    <td>{{roledetail.role_id}}</td>
    <td>{{roledetail.role_name}}</td>
    <td>{{roledetail.allowed_entity}}</td>
   </tr>
  </tbody>
 </table></div>
 <hr>
 <h3>{{title3}}</h3>
 <button type="button" (click)="downloadDOC()">Download DOC</button>
<hr>

<div class="container">
	<div class="row">
		<div class="col-md-4" *ngFor="let img of images;let i=index">
			<img id="img{{i}}" class="img-fluid" crossOrigin="Anonymous" [src]="img.url">
		</div>
		<div class="col-md-12 mt-3">
			<button (click)="download()" class="btn btn-primary">Image PDF</button>
		</div>
	</div></div>
<router-outlet></router-outlet>